@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  src: url('/fonts/RobotoMono.ttf');
}

@font-face {
  font-family: 'Robot Mono';
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/RobotoMono-Italic.ttf');
}
