:root {
  --main-color: #fff;

  --font-main: 'Roboto', sans-serif;
  --font-logs: 'Roboto Mono', monospace;
  --joy-radius-sm: 10px;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-main);
}

#root {
  height: 100%;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

th.table-header {
  padding: 12px 6px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input::-webkit-calendar-picker-indicator {
  filter: var(--calendar-picker-filter);
}

.leaflet-container {
  width: 100%;
  z-index: 70;
  height: 100%;
}

@media (max-width: 600px) {
  .satlist-text {
    font-size: 12px;
  }
}
