pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
/**
 * Panda Syntax Theme for Highlight.js
 * Based on: https://github.com/tinkertrain/panda-syntax-vscode
 * Author: Annmarie Switzer <https://github.com/annmarie-switzer>
 */
.hljs {
  color: var(--hljs-color);
  background: var(--hljs-bgcolor);
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
.hljs-comment,
.hljs-quote {
  color: var(--hljs-quote-color);
  font-style: italic;
}
.hljs-params {
  color: var(--hljs-comment-color);
}
.hljs-punctuation,
.hljs-attr {
  color: var(--hljs-punctuation-color);
}
.hljs-selector-tag,
.hljs-name,
.hljs-meta {
  color: var(--hljs-selector-tag-color);
}

.hljs-operator,
.hljs-char.escape_ {
  color: var(--hljs-operator-color);
}

.hljs-keyword,
.hljs-deletion {
  color: var(--hljs-keyword-color);
}
.hljs-regexp,
.hljs-selector-pseudo,
.hljs-selector-attr,
.hljs-variable.language_ {
  color: var(--hljs-regexp-color);
}
.hljs-subst,
.hljs-property,
.hljs-code,
.hljs-formula,
.hljs-section,
.hljs-title.function_ {
  color: var(--hljs-subst-color);
}
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-selector-class,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-meta .hljs-string {
  color: var(--hljs-string-color);
}
.hljs-variable,
.hljs-template-variable,
.hljs-number,
.hljs-literal,
.hljs-type,
.hljs-link,
.hljs-built_in,
.hljs-title,
.hljs-selector-id,
.hljs-tag,
.hljs-doctag,
.hljs-attribute,
.hljs-template-tag,
.hljs-meta .hljs-keyword {
  color: var(--hljs-variable-color);
}
